---
import type { GetStaticPaths } from "astro";
import { locales, useTranslation, type Locale } from "../../i18n/utils";

import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";

export const getStaticPaths = (() => {
  return locales.map((locale) => ({
    params: { locale },
  }));
}) satisfies GetStaticPaths;

const locale = Astro.params.locale as Locale;
---

<Layout>
  <Nav locale={locale} />
  <Header title="Rólunk" />

  <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20">
    <div class="max-w-3xl leading-relaxed flex flex-col gap-6">
      <p>A WIND EUROTRANS Kft. 2010. 07.23 óta létezik.</p>
      <p>
        Megalapításával az volt a célunk, hogy olyan céget hozzunk létre és
        működtessünk, amely az ügyfelek maximális kiszolgálása mellett
        megbízható, pontos és minőségi szolgáltatást garantál a közúti fuvarozás
        és szállítmányozás teljes időtartamára.
      </p>
      <p>
        Helytelenül kezelt hűtött áru, szabálytalan ADR szállítás,
        megbízhatatlan sofőrök, pontatlan teljesítés…… sajnos a szállítmányozás,
        fuvarozás világában ezek nem ritka problémák.
      </p>
      <p>
        Ha Ön a WIND EUROTRANS Kft-t választja, ezekkel a problémákkal nem fog
        találkozni.
      </p>
      <p>
        Célunk, hogy ügyfeleink számára a szállítás ne kockázat, hanem biztos
        pont legyen az üzleti folyamataikban. Hiszünk abban, hogy a megbízható
        logisztika alapja a szakértelem, a felelősségteljes hozzáállás és a
        pontos teljesítés.
      </p>
      <p>
        A szállítmányozási piacon gyakran előforduló szakmai hiányosságok
        nemcsak anyagi veszteséget okoznak, hanem az üzleti kapcsolatok bizalmát
        is aláássák. Éppen ezért kiemelten fontos számunkra, hogy partnereink
        áruját a legnagyobb gondossággal, pontosan és biztonságosan juttassuk
        célba.
      </p>
      <p>
        Nem vállalunk olyan megbízást, amely veszélyeztetné az egyeztetett
        határidőket. A közösen meghatározott szállítási időket minden esetben
        tartjuk - mert tudjuk, hogy ügyfeleink üzleti sikere múlik rajta.
      </p>
      <p>
        Az ISO 9001:2015, valamint GDP (az Európai Bizottság 2013/C 343/01
        iránymutatásai az emberi felhasználásra szánt gyógyszerek helyes
        forgalmazási gyakorlatáról) tanúsítványaink érvényben tartása érdekében
        minőségi és szigorú szabályozások alapján végezzük mindennapi
        tevékenységünket.
      </p>
    </div>
  </section>
  <Footer locale={locale} />
</Layout>
