---
const { title } = Astro.props;
---

<header
  class="relative bg-white pt-40 pb-24 overflow-hidden border-b border-gray-100"
>
  <div
    class="absolute inset-0 z-0 opacity-15 bg-fixed"
    style="background-image: radial-gradient(#134e4a 1px, transparent 1px); background-size: 30px 30px"
  >
  </div>

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
    <div class="relative inline-block">
      <h1 class="text-5xl md:text-6xl font-black tracking-tight relative z-10">
        {title}
      </h1>
    </div>
  </div>
</header>
